// Color Palette
$color-primary: #233E77;
$color-danger: #AE0909;
$color-secondary: #1c7c9f;
$color-accent: #FF6D43;
$color-dark: #002d3c;
$color-white:white;

$color-info-light: #0568bed7;
$color-info-lighter: #035175;
$color-border-light: #e0e0e0;
$color-border-table: #E2E8F0;
$color-error-text: #e90004;
$color-error-bg: #fff1f0;
$color-error-border: #ffa39e;
$color-neutral-gray: #595959;

