<ng-container *ngIf="operationType === OperationType.Create || operationType === OperationType.Edit">
    <div class="drawer-body">
        <form [formGroup]="customerAddressForm" nz-form [nzLayout]="'vertical'">
            <div nz-row [nzGutter]="12">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Salutation</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="salutation" nzPlaceHolder="Select Salutation">
                                <nz-option *ngFor="let s of salutations" [nzValue]="s" [nzLabel]="s"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>First Name</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="firstName" placeholder="Enter First Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Last Name</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="lastName" placeholder="Enter Last Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Address Line 1</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="addr1" placeholder="Enter Address Line 1" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Address Line 2</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="addr2" placeholder="Enter Address Line 2" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Address Line 3</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="addr3" placeholder="Enter Address Line 3" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Address Line 4</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="addr4" placeholder="Enter Address Line 4" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Address Line 5</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="addr5" placeholder="Enter Address Line 5" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Landmark</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="landmark" placeholder="Enter Landmark" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Country</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="countryCode" nzPlaceHolder="Select Country">
                                <nz-option *ngFor="let country of countries" [nzValue]="country.code"
                                    [nzLabel]="country.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>State</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="stateCode" nzPlaceHolder="Select State">
                                <nz-option *ngFor="let state of states" [nzValue]="state.code"
                                    [nzLabel]="state.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>City</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="cityCode" nzPlaceHolder="Select City">
                                <nz-option *ngFor="let city of cities" [nzValue]="city.code"
                                    [nzLabel]="city.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Area</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="areaCode" nzPlaceHolder="Select Area">
                                <nz-option *ngFor="let city of cities" [nzValue]="city.code"
                                    [nzLabel]="city.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Branch</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="branchCode" nzPlaceHolder="Select Branch">
                                <nz-option *ngFor="let city of cities" [nzValue]="city.code"
                                    [nzLabel]="city.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Postal Code</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="postCode" placeholder="Enter Postal Code" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Mobile No.</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="mobileNo" placeholder="Enter Mobile Number" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Alternate Mobile No.</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="altMobileNo" placeholder="Enter Alt Mobile Number" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Email ID</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="emailId" placeholder="Enter Email ID" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Alternate Email ID</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="altEmailId" placeholder="Enter Alt Email ID" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Office Phone No.</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="offPhone" placeholder="Enter Office Phone" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Extension No.</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="offExtnNo" placeholder="Enter Extension No." />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Residence Phone No.</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="resiNo" placeholder="Enter Residence Phone No." />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label>Fax No.</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="faxNo" placeholder="Enter Fax No." />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8">
                    <nz-form-item>
                        <nz-form-label appAsterisk>Status</nz-form-label>
                        <nz-form-control>
                            Inactive <nz-switch id="status" name="status" class="nz-switch"
                                formControlName="status"></nz-switch> Active
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div class="drawer-footer-lg">
        <button nz-button nzType="primary" class="cancel_btn" (click)="onCancel()">Cancel</button>
        <button nz-button nzType="primary" class="reset_btn" (click)="onReset()">Reset</button>
        <button nz-button nzType="primary" class="submit_btn" (click)="onSubmit()"> {{operationType === OperationType.Edit ? 'Update': 'Submit'}}</button>
    </div>
</ng-container>